.content {
  padding: 50px 0;
  font-size: 14pt;
  background-color: rgb(245 245 245);

  .workspace {
    margin: 0 auto;
    width: 210mm;
    height: 297mm;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 39px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 39px -15px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 39px -15px rgba(0, 0, 0, 1);
  }
}

@media print {
  .tools-bar-top {
    display: none;
  }

  .content {
    padding: 0;
    background-color: rgb(255, 255, 255);

    .workspace {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  @page {
    size: auto; /* auto is the current printer page size */
    margin: 0mm; /* this affects the margin in the printer settings */
  }

  body {
    background-color: #ffffff;
    border: solid 1px black;
    margin: 0px; /* the margin on the content before printing */
  }
}
